//images, buttons
.logo{
    border-radius: 50%;
    min-width: 60px;
    max-width: 150px;
    width: 20vw;
    
}
.hand{
    width: 18vw;
    max-width: 150px;
    z-index: 0;
}
.arrowNavBar{
    border: none;
}

