//colors
$primary : #14398D;
$light : #FFFFFF;
$dark : #000000;
$danger : #E70508;
$warning : #FD861E;

//button
$btn-font-family: $typoHandwritten;

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/bootstrap/scss/bootstrap"